configuration {
	font: "PragmataPro Mono Liga Regular 14";
	modes: "drun,run,window,ssh";
	show-icons: true;
	sort: true;
	dpi: 96;
	window-thumbnail: true;
	drun-use-desktop-cache: true;
	drun-reload-desktop-cache: true;
}
@theme "config1.rasi"
