{{- if eq .chezmoi.os "darwin" -}}
# brew
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end -}}

# rvm
source ~/.rvm/scripts/rvm

# pyenv
eval "$(pyenv init --path)"

# nvm
[ -s "${NVM_DIR}/nvm.sh" ] && . "${NVM_DIR}/nvm.sh"
